<ul id="product_list">
  <% @productlist.each do |product| %>
    <li>Name: <%= product.name %></li>
    Description: <%= product.description %>
	Image URL: <%= product.image_url %>
	Color: <%= product.colour %>
	Price: <%= product.price %>
  <% end %>
</ul>