<div class="container-fluid" id="home_layout">
 <%= image_tag("header_bg.png", :id => "home_image") %>
</div>

<div class="search_form">
  <%= form_tag("/products", method: "get") do %>
    <!--<%= label_tag(:q, "Search for") %> -->
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %><!-- form_tag -->
</div><!-- /search_form -->