<div class="container-fluid" id="users_index">
  <h1>Listing Users</h1>

  <div class="row users_list">
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>User ID</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>First Name</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Last Name</h4>
      </div>  
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4>Email</h4>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4></h4>
      </div>   
      <div class="col-xs-12 col-s-3 col-md-2">
        <h4></h4>
      </div>    
  </div><!-- /row -->

<% @users.each do |user| %>
  <div class="row users_list">
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= user.id %></p>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= user.first_name %></p>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= user.last_name %></p>
      </div>  
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= user.email %></p>
      </div>
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= link_to 'Edit', edit_user_registration_path %></p>
      </div>  
      <div class="col-xs-12 col-s-3 col-md-2">
        <p><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>    
  </div><!-- /row -->
<% end %> 
</div><!-- /container-fluid -->
