<%= form_for(@order) do |f| %>

<div class="post_patch_user_form">
	<div class="field">
	  <%= f.label :user_id %><br>
	  <%= f.text_field(:user_id, size:30, placeholder: "user ID") %>
	</div>

	<div class="field">
	  <%= f.label :product_id %><br>
	  <%= f.text_field(:product_id, size:40, placeholder: "product ID") %>
	</div>

	<div class="field">
	  <%= f.label :total %><br>
	  <%= f.text_field(:total, size:50, placeholder: "total") %><br>
	</div>

	<div class="actions">
	  <%= f.submit %>
	</div>
</div><!-- /post_patch_user_form -->

<% end %>