<div class="container-fluid" id="show_product">
  <div class="row">

    <div class="col-xs-12 col-md-4" id="thumbnails">
      <a href="#" class="thumbnail">
        <%= image_tag(@product.image_url, class: "img-zoom", data_zoom_image: @product.image_url) %>
      </a>
      <p>Roll over image to zoom</p>
      <% if signed_in? && current_user.admin? %>
        <p><%= link_to 'Edit Product', edit_product_path(@product) %> | <%= link_to 'Back', products_path %></p>
      <% end %>
    </div><!-- /col -->

    <div class="col-xs-12 col-md-4" >
      <h6>
        <strong>Name:</strong>
        <%= @product.name %>
      </h6>

      <h6>
        <strong>Description:</strong>
        <%= @product.description %>
      </h6>

      <h6>
        <strong>Image url:</strong>
        <%= @product.image_url %>
      </h6>

      <h6>
        <strong>Color:</strong>
        <%= @product.colour %>
      </h6>

      <h6>
        <strong>Price:</strong>
        $<%= @product.price %>
      </h6>

      <h6>Average Rating:</h6><div class="rated" data-score="<%= @product.average_rating %>"></div>

      <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    </div><!-- /col -->

    <div class="col-xs-12 col-md-4">
      <%= render 'new_comment' %>
    </div><!-- /col -->

  </div><!-- /row -->

  <hr>

  <%= render 'comments' %>

  <%= will_paginate @comments %>
</div><!-- /container -->
