<p id="notice"><%= notice %></p>

<div class="container-fluid" id="show_product">
  <div class="row">
    <div class="col-xs-12 col-md-4" id="thumbnails">
      <a href="#" class="thumbnail">
        <%= image_tag(@product.image_url) %>
      </a>
    </div>
  </div><!-- /row -->

    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>

    <p>
      <strong>Image url:</strong>
      <%= @product.image_url %>
    </p>

    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= @product.price %>
    </p>

    <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>

    <%= render 'new_comment' %>

    <%= render 'comments' %>



</div><!-- /container -->



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>


