<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title> Eric's Electric Cars</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- jQuery Script -->

  <!-- Bootstrap core JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Can place script tags with JavaScript files here -->
  
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <nav class="container-fluid">
	    <nav class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </nav><!-- /navbar-header -->          
	    <nav class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        <li>
	          <div class="portfolio">
	            <%= link_to "Electric Cars", static_pages_landing_page_path %>
	          </div>
	        </li>
	      </ul>           
	      <ul class="rightlinks nav navbar-nav">
	        <li><%= link_to "About", static_pages_about_path %></li>
	        <li><%= link_to "Vehicles", products_path %></a></li>
	        <li><%= link_to "Place an Order", new_order_path %></a></li>
	        <li><%= link_to "Contact", static_pages_contact_path %></a></li>

	        <div class="search_form">
		        <%= form_tag("/products", method: "get") do %>
		          <!--<%= label_tag(:q, "Search for") %> -->
		          <%= text_field_tag(:q) %>
		          <%= submit_tag("Search") %>
		        <% end %><!-- form_tag -->
		      </div><!-- /search_form -->

	      </ul><!-- /nav navbar-nav -->

	      <ul class="nav pull-right">
	      	<li>
	      		<% if user_signed_in? %>
	      		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	      		<% else %>
	      		  <%= link_to('Login', new_user_session_path) %>
	      		<% end %>
	      	</li>
	      </ul><!-- /nav pull-right -->
	      
	    </nav><!-- /navbar-collapse collapse -->
	  </nav><!-- /container-fluid -->
	</nav><!-- /navbar navbar-inverse navbar-fixed-top -->

  <div class="container-fluid">
  <br>
  <br>
  <br>
  <% if notice %>
  <p class="notice">Testing:<%= notice %></p>
  <% end %>
  <% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	  *Testing <%= alert %> Testing*
  </div><!-- /alert -->
  <% end %>

    <h1>Welcome to Eric's Electric Cars</h1>

    <h2> Your source for electric cars on Easter Island</h2>

    <%= image_tag("landscape.jpg", :class => "img-responsive", :id => "home_image") %>

    <div class="dynamic_links">
	    <h4>Sample Dynamic Links for Reference</h4>
		    <ul>
			    <li><%= link_to "Homepage", static_pages_landing_page_path %></li>
			    <li><%= link_to "Root", root_path %></li>
			    <li><%= link_to "About", static_pages_about_path %></li>
			    <li><%= link_to "Contact", static_pages_contact_path %></li>
			    <li><%= link_to "Make a New Product", new_product_path %></li>
			    <li><%= link_to "Show All Products", products_path %>
			    </li>
			    <li><%= link_to "Make a New Order", new_order_path %></li>
			    <li><%= link_to "Show All Orders", orders_path %>
			    </li>			    
			    <li><%= link_to "Register New Person Name", new_user_path %></li> 			    
			    <li><%= link_to "Show All Person Names", users_path %></li>
			    <li><%= link_to "Login", new_user_session_path %></li>
			    <li><%= link_to "Register new User", new_user_registration_path %></li>
			    <li><%= link_to "Edit User", edit_user_registration_path %></li>  
			  </ul>
	    <h4>/Sample Dynamic Links for Reference</h4>			  
		</div><!-- /dynamic_links -->
  </div><!-- /container-fluid -->
  
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  	  <%= alert %>
  </div><!-- /alert -->
  <% end %>

  <!-- footer -->
  <footer>
  	<p>&copy; Eric An 2015</p>
  </footer>

<%= yield %>


</body>
</html>
